<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.fuet.oc.jee.pro.servlet.Inscription</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>fr.fuet.oc.jee.pro.servlet.Connexion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>fr.fuet.oc.jee.pro.servlet.Deconnexion</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>RestrictionFilter</filter-name>
		<filter-class>fr.fuet.oc.jee.pro.filter.RestrictionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestrictionFilter</filter-name>
		<url-pattern>/restreint/*</url-pattern>
	</filter-mapping>
	
</web-app>